MongoDatabaseName=SudokuSolverDB
MongoCollectionName=Runs
ConnectionStrings__MongoDb="mongodb://root:LNx8GUGj4C2C4i+Bu4iSfYZw+f4O0un0yEx8eTUuzEk%21@mongodb:27017/?authSource=admin"

PROCESSING_CHANNEL_CAPACITY=100
VALIDATION_CHANNEL_CAPACITY=100
VALIDATION_WORKER_COUNT=5

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=LNx8GUGj4C2C4i+Bu4iSfYZw+f4O0un0yEx8eTUuzEk=!

ME_CONFIG_MONGODB_URL="SUA_URL_DO_RAILWAY"
ME_CONFIG_BASICAUTH_USERNAME="admin"
ME_CONFIG_BASICAUTH_PASSWORD="pass"